html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--primary);
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', cursive;
}

:root{
  --red: #ea0012
  --blue: #3a5da8
  --yellow: #ffcb05
  --black:#000005
  --white:#f5f5f5
}

#balls{
  width: 800px;
  height: auto;
  display: block;
  margin: auto;
}

.who{
  font-size: 5rem;
  text-align: center;
}

#prompt{
  font-size: 2.5rem;
  text-align: center;
<<<<<<< HEAD
}

.game {
  font-size: 3.5rem;
  margin-left: 80px;
  margin-top: -450px;
}
.mon {
  width: 500px;
  height: auto;
  background-color: transparent;
  filter: brightness(0);
  display: block;
  margin: auto;
  margin-top: px;
}

.border {
  width: 50%;
  display: block;
  margin: auto;
}

.species {
  font-size: 4rem;
  margin-top: -700px;
  margin-left: 80px;
}

#board {
  font-size: 7.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: 1550px;
  margin-top: -150px;
}

.bn {
  margin: 10px;
=======
>>>>>>> parent of 101baf7 (ochen khorosho)
}