html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--primary);
  color: rgb(0, 0, 0);
}

:root{
  --red: #ea0012
  --blue: #3a5da8
  --yellow: #ffcb05
  --black:#000005
  --white:#f5f5f5
}

.balls{
  width: ;
}